
.container {
	width: 80%;
	margin: auto;
	padding: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
h1 {
	text-align: center;
	color: #333333;
}
p {
	text-align: center;
	color: #666666;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.form-group {
	margin-bottom: 10px;
}
label {
	font-weight: bold;
	color: #333333;
	margin-right: 10px;
}
select {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #F2F2F2;
	color: #333333;
	font-size: 16px;
}
button[type="button"] {
	padding: 10px 20px;
	background-color: #4796ff;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease;
}
button[type="button"]:hover {
	background-color: #4796ff;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	height: 40;
	border-radius: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	  background-color: #F2F2F2;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  header {
   
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: #4796ff;
    color: #fff;
  }
  
  nav a.active {
    background-color: #4796ff;
    color: #fff;
  }